.slider {
  position: relative;
  max-width: 500px;
  margin: 50px auto;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 500px;
    outline: 5px solid #61dafb;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.slide-wrapper {
  display: flex;
  .card {
    flex: 1;
  }
}
